/* src/component/Map/MessageHandler.css */

/* Styles pour le contenu du popup */
.leaflet-popup-content-wrapper {
    background-color: #FBE8A6; /* Couleur de fond du popup */
    border-radius: 10px;
    border: 2px solid #F4976C; /* Bordure du popup */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Ombre portée */
    padding: 10px;
    width: 300px; /* Largeur fixe du popup */
    max-width: 300px; /* Largeur maximale du popup */
    height: auto; /* Hauteur automatique, ajustée au contenu */
    min-height: 100px; /* Hauteur minimale si nécessaire */
}

/* Styles pour le texte dans le popup */
.leaflet-popup-content p {
    color: #333; /* Couleur du texte */
    font-family: 'RLight', sans-serif; /* Police du texte */
    font-size: 16px; /* Taille de la police */
    margin: 0;
    text-align: center; /* Centrer le texte */
}

/* Styles pour le formulaire dans le popup */
.leaflet-popup-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(56, 56, 56);
}

/* Styles pour la zone de texte dans le formulaire */
.leaflet-popup-content textarea {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    color: rgb(23, 77, 50);
    resize: none; /* Empêcher le redimensionnement de la zone de texte */
}

/* Styles pour le bouton de sauvegarde */
.leaflet-popup-content #save-button {
    margin-top: 5px;
    padding: 5px 10px; /* Ajuste la taille du bouton */
    background-color: rgb(202, 184, 104);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; /* Ajuste la taille de la police du bouton */
    font-family: 'Arial', sans-serif;
}

.leaflet-popup-content #save-button:hover {
    background-color: rgb(138, 127, 77);
}
