/* LoginForm.css */

.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'RBold', sans-serif;
  }
  
  .login-form {
    padding: 20px;
    display: flex;
    flex-direction: column; /* Assure que les éléments sont empilés verticalement */
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .login-form input:focus {
    outline: none;
    border: 2px solid #ccc;
  }
  
  .login-form .error {
    margin-bottom: 15px;
    text-align: center;
  }
  
  .login-form button {
    width: 100%;
    padding: 17px 30px;
    margin-top: 20px;
    border-radius: 10px;
    border: 0;
    background-color: #86C232;
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all 0.3s ease;
    box-shadow: #61892F 10px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
  }
  
  .login-form button:hover {
    box-shadow: #61892F 5px 5px 0px 0px;
  }
  
  .login-form button:active {
    background-color: #61892F;
    box-shadow: #86C232 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
  }
  