body {
    margin: 0;
    padding: 0;
    background-color: #405D72;
}

.header {
    display: flex;
    justify-content: space-between; /* Aligner les éléments aux extrémités du conteneur */
    align-items: center; 
}

.login {
    /* left: 50%; */
    /* padding-left: 1em; */
    background-color: transparent;
    font-size: 120%;
    color: beige;
    border-color: #244855;
    font-family: 'RBold', sans-serif;
}

.login:hover {
    font-size: 21px;
    transition: .5s;
}

.profileimage {
    border-radius: 50px; /* Arrondir l'image */
    width: 40px; /* Taille fixe pour l'image */
    height: 40px; /* Taille fixe pour l'image */
    object-fit: cover;
    cursor: pointer;
}

.profileimage:hover {
    width: 45px;
    height: 45px;
    transition: .5s;
}

a:hover {
    font-size: 21px; /* Augmente la taille de police au survol */
    font-family: 'RBold', sans-serif;
}

header {
    padding: 1.5%;
    background-color: #244855;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



header h1 {
    text-decoration: none;
    color: #FBE9D0;
    margin: 0;
    font-family: 'RBold', 'Times New Roman', Times, serif;
    font-size: 250%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 0.9em;
}

nav ul li a {
    text-decoration: none;
    color: #FBE9D0;
    font-family: 'RLight', 'Times New Roman', Times, serif;
    font-size: 120%;
    transition: font-family 0.5s ease, font-size 0.5s ease;
    /* transition: .5s; */
}

.all h3 {
    text-align: left;
    padding-left: 20px;
}