
body {
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(69, 69, 105);
}

.lgBox {
	display: grid;
	width: 90%;
	height: 80vh;
	background-color: beige;
	border-radius: 15px;
	grid-template-columns: 1fr 1fr;
}



.leftGrid {
    padding: 0;
    box-sizing: border-box;
	/* background-color: blue; */
    overflow: hidden; 
	background-image: url('../../assets/images/cE.png');
	border-radius: 15px 0 0 15px;
	/* background-repeat: no-repeat; */
}


.rightGrid {
    padding: 0;
    box-sizing: border-box; 
	/* background-color: red; */
    overflow: hidden; 
	display: flex;
	/* align-items: center; */
	justify-content: center;
	left: 50%;

	padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  align-items: center;
}

.bottom-text {
	text-align: center;
	margin-top: 20px;
	font-size: 0.9rem;
  }